* {
    box-sizing: border-box;    
  }

html {
    background-color: #353535;
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin: auto;
    width: 100vw;
    background-image: url("../statics/img/diagonal.svg");
}

.whatsapp-ico{      
    fill: white;
    width: 70px;
    height: 70px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 30px;
    right : 30px;
    z-index: 10;
    
}

.whatsapp-ico:hover{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}

.redface {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    width: 80px;
    height: 80px;
    padding: 3px;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right : 20px;    
    z-index: 11;
}

.redig {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    width: 80px;
    height: 80px;
    padding: 3px;
    border-radius: 50%;
    position: fixed;
    bottom: 140px;
    right : 20px;
    z-index: 10;
}

.header {
    position: fixed;
    width: 100vw;
    top: 0px;
    font-weight: 700;
    font-size: 0.8rem;
}

.header-img-class {
    background-color: #353535;
}

#header-img {
    margin-bottom: 5px;
    max-width: 80%;
}

.nav-bar, .nav-link {
    text-decoration: none;
    color: #353535;
    padding: 1%;
    background-color: #FFFF00;
}

.nav-link {
    font-size: 0.9rem;    
    padding: 0.9%;
    background-color: transparent;    
}

#cont-comprar-ahora {
    background-color: #0487FF;
    border-radius: 0 0 30px 30px;
    padding: 10px 0px 10px 0px;
}

#comprar-ahora-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;

}

main {
    margin-top: 10rem;
    background-color: #353535;


}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    line-height: 25px;
    margin-bottom: 30px;    
}

h3 {
    font-size: 25px;
    line-height: 25px;
}

p {
    font-size: 20px;
}

.nosotros {
    display: flex;
    flex-direction: column;
    margin: 0px 0 10px 0;    
    scroll-snap-type: y mandatory;
    background-image: url("../statics/img/camisa_fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% -3%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;

}
    .textualbox {
        margin-top: 10px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }

    .textualbox1 {
        margin: 10px;
        border: 6px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
    }

    .textualbox2 {
        margin: 10px;
        box-sizing: border-box;
    }

.productos {
    display: flex;
    flex-direction: column;
}

.fotoproducto {
    max-width: 30vw;
    border: solid white 1px;
}

#nosotros {    
    font-size: 18px;
    color: white;
}

.productos {
    scroll-snap-type: y mandatory;
}

.showroom {
    scroll-snap-type: y mandatory;
}

.contactanos {
    padding: 10px 40px 0 40px;
    font-weight: bold;
    line-height: 120.54%;
    background: #FFFF00;
    color: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.socialmedia {  
    margin: 5px 0 50px 0;
}

.yellowadvertice {
    padding: 5px;
    background: #FFFF00;
    color: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input, textarea {
    display: flex;    
    flex-direction: column;    
    justify-content:center;    
    font-family: 'Barlow', sans-serif;
    color: #353535;
    margin: auto;
    margin-bottom: 10px;
    width: 60vw;
    border: solid #353535 1px;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px;
}

.googlemap {
    width: 90vw;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder {
    opacity: 0.8; 
    color: #353535;
}

.boxyellowadvertice {
    font-weight: normal;
    color: #353535;
}

.red {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-self: center;
}

.bluebutton, .yellowbutton {
    border: none; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.bluebutton{    
    background: #0487FF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

.yellowbutton {
    background: #FFFF00;
    color: #353535;
    font-size: 25px;
    font-weight: 700;    
}

.greybutton {    
    color: white;    
    background: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 15px 32px;
    margin: 10px 0 20px 0;
}

.whatsapp {
    margin: 40px;
    align-self: center;    
    top: 50%;
}

#catalogoonline {
    margin-top: 2rem;    
    margin-bottom: 2rem;
}

.catalogoframe, iframe {
    margin: auto;
    width: 50vw;
    height: 50vh;
}

/* Version escritorio */

@media (min-width: 700px) {

    html {        
        margin: auto;
        width: 50vw;
    }

    .header {
        width: 100vw;
        left: 0px;
        top: 0px;
        font-weight: 700;
        font-size: 0.8rem;
    }

    input, textarea {
        width: 30vw;
    }

    textarea {
    }

    .googlemap {
        width: 35vw;
        height: 50vh;
        border-radius: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .nosotros {
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        scroll-snap-type: y mandatory;       
    }

            .textualbox {
                margin-top: 10px;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
            }

            .textualbox1 {
                margin: 10px;
                padding: 5%;
                border: 6px solid rgba(255, 255, 255, 0.6);
                box-sizing: border-box;
            }

            .textualbox2 {
                margin: 10px;
                box-sizing: border-box;
            }

        .nav-link:hover {
            background-color: #353535;
            color: white;
        }
        
        .nav-link {
            font-size: 1.3rem;    
            padding: 0.9%;
            background-color: transparent;    
        }
        
        #comprar-ahora-link {
            font-size: 1.7rem;
            height: 60px;
            transition: font-size 1s;
        }
        
        #comprar-ahora-link:hover {
            font-size: 1.9rem;
            height: 70px;
        }

        #cont-comprar-ahora {
            background-color: #0487FF;          
        }

        #cont-comprar-ahora:hover {
            background-color: #353535;          
            transition: background-color 1s;
        }

        .bluebutton:hover{    
            background: white;
            color: #0487FF;
        }
        
        .yellowbutton:hover {
            background:  #353535;
            color: #FFFF00;
            border: 1px solid #FFFF00;
            font-size: 15px;
            font-weight: 700;
        }
        
        .greybutton:hover {    
            color: #353535;    
            background: white;
            font-size: 24px;
        }

        #header-img {
            margin-bottom: 5px;
            max-width: 30%;
        }

        input, textarea {
            display: flex;    
            flex-direction: column;    
            justify-content:center;    
            font-family: 'Barlow', sans-serif;
            color: #353535;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            border: solid #353535 1px;
            border-radius: 8px;
            background-color: transparent;
            padding: 10px;
        }
        
}