* {
    box-sizing: border-box;
  }

html {
    background-color: #353535;
    color: white;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;    
    text-align: center;
    font-size: 0.8rem; 
    margin: auto;
    width: 100vw;
}

.whatsapp-ico{      
    fill: white;
    width: 70px;
    height: 70px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 30px;
    right : 30px;
    z-index: 10;
}

.whatsapp-ico:hover{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}

.header {
    position: fixed;
    width: 100vw;
    top: 0px;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: #353535;
}

p {
    font-size: 13px;
}

#header-img {
    margin-bottom: 5px;
}

.nav-bar, .nav-link {
    text-decoration: none;
    color: #353535;
    padding: 1%;
    background-color: #FFFF00;
}

.nav-link {
    font-size: 0.9rem;    
    padding: 0.9%;
    background-color: transparent;    
}

#comprar-ahora-link {
    color: white;  
    background-color: #0487FF;
    font-size: 1rem;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}

main {
    margin-top: 10rem;
    scroll-snap-type:mandatory;    
}

h1 {
    font-size: 35px;
    font-weight: 700;
}

h2 {
    font-size: 25px;
    line-height: 25px;
}

h3 {
    font-size: 15px;
    line-height: 25px;
}

.nosotros {
    display: flex;
    flex-direction: column;
    margin: 0px 0 10px 0;    
    scroll-snap-type: y mandatory;    
}
    .textualbox {
        margin-top: 10px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }

    .textualbox1 {
        margin: 10px;
        border: 6px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
    }

    .textualbox2 {
        margin: 10px;
        box-sizing: border-box;
    }

.productos {
    display: flex;
    flex-direction: column;

}

.fotoproducto {
    max-width: 30vw;
    border: solid white 1px;
}

#nosotros {    
    font-size: 18px;
    color: white;
}

.productos {
    scroll-snap-type: y mandatory;
}

.showroom {
    scroll-snap-type: y mandatory;
}

.contactanos {
    margin: 15rem 0 0 0;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 120.54%;
    background: #FFFF00;
    color: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.socialmedia {  
    margin: 10%;
}

.yellowadvertice {
    padding: 10px;
    font-weight: bold;
    font-size: 13px;
    background: #FFFF00;
    color: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input, textarea {
    font-family: 'Sarala', sans-serif;
    font-weight: 700;    
    text-align: center;
    font-size: 1.05rem; 
    color: #353535;
    width: 80vw;
    margin: 3%;    
    border: solid #353535 1px;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px;
}

.googlemap {
    width: 90vw;
    height: 50vh;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder {    
    color: #353535;
}

#boxyellowadvertice {
    font-weight: normal;
    font-size: 11px;
    color: #353535;
}

#red {
    display: flexbox;
    flex-direction: row;
    margin: 2%;
    align-self: center;
}

#bluebutton, #yellowbutton {
    border: none; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

#bluebutton{    
    background: #0487FF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

#yellowbutton {
    background: #FFFF00;
    color: #353535;
    font-size: 15px;
    font-weight: 700;
}

#greybutton {    
    color: white;    
    background: #353535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
    border: none;
    font-family: Sarala;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;    
    text-align: center;
    letter-spacing: 0.25px;
    padding: 5px 32px;
    margin: 10px 0 0 0;
}

#whatsapp {
    padding-top: 3%;
    align-self: center;    
    top: 50%;
}

#catalogoonline {
    margin-top: 25%;    
}